extends ../layout.pug
block content
    div(class="w3-margin-top")
        h1 Excursiones        
        table(class="w3-table-all")
            thead
                tr(class="w3-red")
                    th Destino
                    th Guia                    
                    th Microbus(es)
                    th Capacidad Maxima
                    th Fecha/hora salida
                    th Fecha/hora llegada
                    th Fecha límite de pago
                    th Precios
                    th Lugar(es) de abordaje
                    th Comida(s)
                    th Reservación
                tbody
                    each e in excursiones
                        tr
                            td= e.destino.nombre
                            td= e.guia.nombre                            
                            td
                                ul
                                each s in e.microbuses
                                  li= s.propietario.nombre
                            td= e.cantMaxPersonas        
                            td= e.fechaHoraSalida
                            td= e.fechaHoraVuelta
                            th= e.fechaLimitePago
                            td
                                ul
                                    li= "Niño: "+e.costos[0]
                                    li= "Adulto: "+e.costos[1]
                                    li= "Tercera edad: "+e.costos[2]
                            td  
                                ul
                                each l in e.lugaresDeAbordaje
                                    li= l
                            td  
                                ul
                                each co in e.comidas
                                    li= co
                            td
                                a(href="/excursiones/reservar/" + e._id) Reservar
                            



