extends ../layout.pug 
block content
    div(class="w3-display-middle")
        h1 Modificar Asociado
        form(method="post", action="/asociados/modificar/"+asociado.id, class="")
            p
                label Nombre
                input(name="nombre", type='text', class="w3-input", value=asociado.nombre)
            p
                label Apellido
                input(name="apellido", type='text', class="w3-input", value=asociado.apellido)
            p
                label Email
                input(name="email", type='text', class="w3-input", value=asociado.email)
            p
                label Telefono
                input(name="telefono", type='number', class="w3-input", value=asociado.telefono)
            
            input(name="puesto", type='hidden', class="w3-input", value=asociado.puesto)

            p
                input(type='submit', class="w3-button w3-red ", value="Modificar")