extends ../layout.pug
block content
    div(class="w3-margin-top w3-content w3-center")
        each des in destinos
            .w3-card-4.w3-col.m3.w3-margin-top.w3-margin-left.w3-margin-right(style='width: 200px; height: 285px')
                img.w3-image(src=des.fotos[0], alt=des.nombre, style='width: 200px; height: 200px')
                .w3-container.w3-center
                    h5
                        b
                            | !{des.nombre}
                            br
                            | !{des.provincia} !{contador}

